
.pagination{
    display: flex;
    height: auto;
}
.pagination ul{
    padding: 1em 0 0 0;
    justify-content: center;
}
.pagination li{
    padding: 0;
}

.disabled a{
    background-color: var(--bs-border-color);
    border: 1px solid var(--bs-border-color);
}
.disabled a:hover{
    border: 1px solid var(--bs-border-color);
}
.pagination li:first-child a{
    border-radius: 8px 0 0 8px;
}
.pagination li:not(:last-child) a{
    border-right: none;
}
.pagination li:last-child a{
    border-radius: 0 8px 8px 0;
}