#chartHistoricoVentasDiarios{
    max-height: 350px;
}

.card{
    height:100% !important;
}
.bg-blue{
    background-color: white;
    color: #1275C7;
}
.cantidades{
    font-size: 2.7rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.desc{
    font-size : 0.7 rem;
    color: #9BBAD5;
}
.title-detalle{
    font-size: 3rem;
    color: #0B4E85;
    font-weight: 400;
}

.card{
    border-radius: 5px;
    border: 1px solid #A5BDD0;
}
.happy-text{
    color : #08A840
}

.sad-text{
    color : #CD5709;
}