.border-select {
    border: 2px solid #5F0A6A;
    border-radius: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btn-gfast{
    background-color: #5F0A6A;
    border-color: #5F0A6A;
}
.btn-gfast:hover{
    background-color: #bba3bf;
    border-color: #bba3bf;
}

.text-right-padding{
    text-align: right;
    min-width: 80px;
}